@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-family: "lato",sans-serif;
}

.mediumFont {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}
.smallFont {
    font-size: 12px;
    line-height: 15px;
}
.grey-dark {
    color: #939699;
}
.white {
    color: white;
}
.grey-light {
    color: #D1E2EB;
}